.search-box {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  padding: 0 6px;
  background-color: $color-highlight-background;
  border-radius: 5px;

  .icon-search {
    font-size: 24px;
    color: $color-background;
  }

  .icon-dismiss {
    font-size: $font-size-large-x;
    color: $color-background;
  }

  .box {
    flex: 1;
    margin: 0 5px;
    line-height: 18px;
    background-color: $color-highlight-background;
    color: $color-text;
    font-size: $font-size-medium;
    outline: 0;

    &::placeholder {
      color: $color-text-d;
    }
  }
}
